<h1 class="mb-5">
  Wellcome
</h1>

<%= @activities.each do |activity| %>
  <% if activity.trackable_type == 'Post' %>

    <div class="border rounded p-5">
      <% if activity.key == 'post.destroy' %>
        <p>
          <%= t('public_activity.post.destroy') %> <%= activity.created_at.to_s %>
        </p>
      <% else %>
        <% post = activity.trackable %>
        <% owner = activity.owner %>

        <% if post.nill? %>
          <% next %>
        <% end %>

        <div class="post">
          <h2>
            <%= post.title %>
          </h2>

          <p class="text-muted">
            <%= post.body %>
          </p>

          <p class="timestamp"><%= activity.created_at %></p>
          <p class="action"><%= action_name(activity) %></p>
          <p class="action"><%= owner.email %> <%= t("public_activity.#{activity.key}") %></p>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
